Repository AO-protocol/overflow2025: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

# Lefthook configuration for overflow2025
# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,tsx,json,md}"
      run: pnpm biome check --write {staged_files}
    lint:
      glob: "*.{js,ts,tsx}"
      run: pnpm biome lint {staged_files}
    typecheck:
      glob: "pkgs/mcp/**/*.{ts,tsx},pkgs/walrus/**/*.{ts,tsx}"
      run: cd pkgs/mcp && pnpm tsc --noEmit && cd ../../pkgs/walrus && pnpm tsc --noEmit

pre-push:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,tsx,json,md}"
      run: pnpm biome check --write {push_files}
    lint:
      glob: "*.{js,ts,tsx}"
      run: pnpm biome lint {push_files}
    typecheck:
      glob: "pkgs/mcp/**/*.{ts,tsx},pkgs/walrus/**/*.{ts,tsx}"
      run: cd pkgs/mcp && pnpm tsc --noEmit && cd ../../pkgs/walrus && pnpm tsc --noEmit
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

Refactor MCP server tools and update README with AWS resource details
  README.md
  pkgs/mcp/samples/downloaded.txt
  pkgs/mcp/src/index.ts
  pkgs/mcp/src/lambda-server.ts
Due: format, lint

fix
  pkgs/cdk/src/client.ts
  pkgs/mcp/src/lambda-server.ts
Due: format, lint

update
  README.md
Due: format

update
  README.md
  docs/overview.drawio
  docs/overview.png
  docs/overview2.drawio
  docs/overview2.png
Due: format

mcpの設定を修正
  .gitignore
  .vscode/mcp.example.json
  README.md
  pkgs/mcp/samples/sample.txt
Due: format

delete
  pkgs/mcp/mcp.example.json
Due: format

fix: update file path instructions for Walrus upload in README
  README.md
Due: format

add
  README.md
Due: format

lambda用にファイルをbase64でエンコードしてからアップロードする処理を追加
  README.md
  pkgs/cdk/src/client.ts
  pkgs/mcp/src/lambda-server.ts
  pkgs/mcp/src/walrus/upload.ts
Due: format, lint

update
  pkgs/mcp/samples/sample.txt
Due: none

修正
  pkgs/cdk/src/client.ts
  pkgs/mcp/src/lambda-server.ts
  pkgs/mcp/src/walrus/upload.ts
Due: format, lint
