Repository AO-protocol/overflow2025: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

lefthook.yml:

# Lefthook configuration for overflow2025
# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,tsx,json,md}"
      run: pnpm biome check --write {staged_files}
    lint:
      glob: "*.{js,ts,tsx}"
      run: pnpm biome lint {staged_files}
    typecheck:
      glob: "pkgs/mcp/**/*.{ts,tsx},pkgs/walrus/**/*.{ts,tsx}"
      run: cd pkgs/mcp && pnpm tsc --noEmit && cd ../../pkgs/walrus && pnpm tsc --noEmit

pre-push:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,tsx,json,md}"
      run: pnpm biome check --write {push_files}
    lint:
      glob: "*.{js,ts,tsx}"
      run: pnpm biome lint {push_files}
    typecheck:
      glob: "pkgs/mcp/**/*.{ts,tsx},pkgs/walrus/**/*.{ts,tsx}"
      run: cd pkgs/mcp && pnpm tsc --noEmit && cd ../../pkgs/walrus && pnpm tsc --noEmit
#
#     - name: rubocop
#       glob: "*.rb"
#       exclude:
#         - config/application.rb
#         - config/routes.rb
#       run: bundle exec rubocop --force-exclusion {all_files}
#
#     - name: govet
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#
#     - script: "hello.js"
#       runner: node
#
#     - script: "hello.go"
#       runner: go run

修正
  pkgs/frontend/.env.example
  pkgs/frontend/package.json
  pkgs/frontend/src/app/api/chat/route.ts
  pkgs/frontend/src/mastra/agents/index.ts
  pkgs/frontend/src/mastra/models/index.ts
  pnpm-lock.yaml
Due: format, lint

Refactor code structure for improved readability and maintainability
  pkgs/backend/.env-local
  pkgs/backend/eslint.config.js
  pkgs/backend/package.json
  pkgs/backend/src/index.ts
  pkgs/backend/tsconfig.json
  pnpm-lock.yaml
Due: format, lint

update
  pkgs/backend/eslint.config.js
  pkgs/backend/package.json
  pkgs/backend/src/index.ts
  pkgs/backend/tsconfig.json
  pkgs/frontend/src/mastra/models/index.ts
  pkgs/mcp/.gitignore
  pkgs/mcp/mcp.example.json
  pkgs/walrus/src/walrus/upload.ts
Due: format, lint

Add file upload and download APIs, update configuration and dependencies
  biome.json
  pkgs/backend/.gitignore
  pkgs/backend/package.json
  pkgs/backend/src/index.ts
  pkgs/backend/src/walrus/download.ts
  pkgs/backend/src/walrus/upload.ts
  pkgs/mcp/.env-local
  pkgs/mcp/mcp.example.json
  pnpm-lock.yaml
Due: format, lint

fix
  pkgs/backend/package.json
  pkgs/backend/src/index.ts
  pkgs/mcp/src/index.ts
  pnpm-lock.yaml
Due: format, lint

Update README.md for improved clarity and detail on project structure and setup
  README.md
Due: format

修正
  README.md
Due: format

delete
  README.md
  package.json
  pkgs/backend/src/index.ts
  pkgs/mcp/.gitignore
  pkgs/mcp/index.ts
  pkgs/mcp/package.json
  pkgs/mcp/samples/downloaded_sample.txt
  pkgs/mcp/samples/sample.txt
  pkgs/mcp/samples/sample_downloaded.txt
  pkgs/mcp/src/index.ts
  pkgs/mcp/src/walrus/download.ts
  pkgs/mcp/src/walrus/upload.ts
  pkgs/mcp/tsconfig.json
  pkgs/walrus/.gitignore
  pkgs/walrus/README.md
  pkgs/walrus/package.json
  pkgs/walrus/src/index.ts
  pkgs/walrus/src/walrus/download.ts
  pkgs/walrus/src/walrus/upload.ts
  pkgs/walrus/tsconfig.json
  pnpm-lock.yaml
Due: format, lint

x402とwalrusのmcp実装できたのでプッシュ
  README.md
  pkgs/mcp/package.json
  pkgs/mcp/samples/sample_for_walrus.txt
  pkgs/mcp/src/index.ts
  pkgs/mcp/src/walrus/download.ts
  pkgs/mcp/src/walrus/upload.ts
  pkgs/mcp/tsconfig.json
  pnpm-lock.yaml
Due: format, lint

コンポーネントの構成を変更
  README.md
  pkgs/frontend/.env.example
  pkgs/frontend/next.config.ts
  pkgs/frontend/package.json
  pkgs/frontend/public/favicon.ico
  pkgs/frontend/src/app/layout.tsx
  pkgs/frontend/src/app/page.tsx
  pkgs/frontend/src/components/Weather.tsx
  pkgs/frontend/src/components/ui/button.tsx
  pkgs/frontend/src/lib/actions.ts
  pkgs/frontend/src/lib/utils.ts
  pkgs/frontend/src/mastra/agents/index.ts
  pkgs/frontend/src/mastra/index.ts
  pkgs/frontend/src/mastra/models/index.ts
  pkgs/frontend/src/mastra/tools/index.ts
  pkgs/frontend/src/styles/globals.css
  pkgs/frontend/tsconfig.json
  pnpm-lock.yaml
Due: format, lint

fix
  README.md
  pkgs/frontend/.gitignore
  pkgs/frontend/package.json
  pkgs/frontend/src/lib/actions.ts
  pkgs/frontend/src/mastra/agents/index.ts
  pkgs/frontend/src/mastra/db/mastra.db
  pkgs/frontend/src/mastra/tools/index.ts
  pnpm-lock.yaml
Due: format, lint

Update README and configuration files; refactor MCP commands and improve file handling
  README.md
  pkgs/backend/.env.example
  pkgs/frontend/.env.example
  pkgs/frontend/components.json
  pkgs/frontend/src/lib/actions.ts
  pkgs/frontend/src/mastra/agents/index.ts
  pkgs/frontend/src/mastra/db/mastra.db
  pkgs/frontend/src/mastra/models/index.ts
  pkgs/frontend/src/mastra/tools/index.ts
  pkgs/mcp/.env.example
  pkgs/mcp/mcp.example.json
  pkgs/mcp/samples/downloaded_sample.txt
  pkgs/mcp/samples/sample_downloaded.txt
  pkgs/mcp/samples/sample_for_walrus.txt
  pkgs/mcp/src/index.ts
  pkgs/mcp/src/walrus/download.ts
  pkgs/mcp/src/walrus/upload.ts
Due: format, lint

Update README.md
  README.md
Due: format

Update pkgs/frontend/src/mastra/agents/index.ts
  pkgs/frontend/src/mastra/agents/index.ts
Due: format, lint

Refactor code structure for improved readability and maintainability
  .github/workflows/build.yml
  pkgs/frontend/public/sw.js
  pkgs/frontend/public/workbox-01fd22c6.js
  pkgs/frontend/src/mastra/agents/index.ts
  pkgs/frontend/src/mastra/tools/index.ts
  pkgs/mcp/mcp.example.json
  pnpm-lock.yaml
Due: format, lint

Update project description in README.md
  README.md
Due: format

Readme修正
  README.md
  pnpm-lock.yaml
Due: format

Refactor code structure for improved readability and maintainability
  pkgs/backend/.dockerignore
  pkgs/backend/Dockerfile
  pkgs/backend/README.md
  pkgs/backend/package.json
  pkgs/backend/pnpm-lock.yaml
  pkgs/backend/src/index.ts
  pkgs/backend/tsconfig.json
  pkgs/frontend/public/sw.js
  pkgs/frontend/public/workbox-01fd22c6.js
Due: format, lint

Refactor code structure for improved readability and maintainability
  pkgs/backend/src/index.ts
  pkgs/frontend/public/sw.js
  pkgs/frontend/public/workbox-01fd22c6.js
Due: format, lint

update
  pnpm-lock.yaml
Due: none

add comment
  pkgs/backend/README.md
Due: format

Refactor code structure for improved readability and maintainability
  pkgs/frontend/next.config.ts
  pkgs/frontend/package.json
  pkgs/frontend/public/sw.js
  pkgs/frontend/public/workbox-01fd22c6.js
  pkgs/frontend/src/app/api/chat/route.ts
  pkgs/frontend/src/app/layout.tsx
  pkgs/frontend/src/app/not-found.tsx
  pkgs/frontend/src/app/page.tsx
  pkgs/frontend/src/app/wallet-demo.tsx
  pkgs/frontend/src/components/chat-message.tsx
  pkgs/frontend/src/components/favorites-sidebar.tsx
  pkgs/frontend/src/components/footer.tsx
  pkgs/frontend/src/components/product-card.tsx
  pkgs/frontend/src/components/providers.tsx
  pkgs/frontend/src/components/theme-toggle.tsx
  pkgs/frontend/src/components/ui/button.tsx
  pkgs/frontend/src/components/ui/card.tsx
  pkgs/frontend/src/components/ui/dropdown-menu.tsx
  pkgs/frontend/src/components/ui/input.tsx
  pkgs/frontend/src/components/ui/scroll-area.tsx
  pkgs/frontend/src/components/ui/switch.tsx
  pkgs/frontend/src/components/user-menu.tsx
  pkgs/frontend/src/components/wallet-connect.tsx
  pkgs/frontend/src/components/wallet-providers.tsx
  pkgs/frontend/src/components/wallet-status.tsx
  pkgs/frontend/src/lib/utils-client.ts
  pkgs/frontend/src/mastra/agents/index.ts
  pkgs/frontend/src/mastra/tools/index.ts
  pkgs/frontend/src/styles/globals.css
  pkgs/frontend/tailwind.config.ts
  pkgs/mcp/mcp.example.json
  pnpm-lock.yaml
Due: format, lint

Refactor configuration and comments for clarity; update styles and upload script for improved functionality
  pkgs/frontend/postcss.config.mjs
  pkgs/frontend/src/lib/actions.ts
  pkgs/frontend/src/mastra/agents/index.ts
  pkgs/frontend/src/mastra/index.ts
  pkgs/frontend/src/mastra/tools/index.ts
  pkgs/frontend/src/styles/globals.css
  pkgs/frontend/tailwind.config.ts
  pkgs/mcp/src/walrus/upload.ts
Due: format, lint

Refactor code structure for improved readability and maintainability
  pkgs/frontend/public/sw.js
  pkgs/frontend/public/workbox-01fd22c6.js
  pnpm-lock.yaml
Due: format, lint

Update endpoint path in README and translate documentation to English for clarity
  README.md
  pkgs/backend/README.md
Due: format

英語修正
  README.md
  pkgs/backend/src/index.ts
  pkgs/frontend/next.config.ts
  pkgs/frontend/src/app/api/chat/route.ts
  pkgs/frontend/src/app/not-found.tsx
  pkgs/frontend/src/app/page.tsx
  pkgs/frontend/src/app/wallet-demo.tsx
  pkgs/frontend/src/components/favorites-sidebar.tsx
  pkgs/frontend/src/components/product-card.tsx
  pkgs/frontend/src/components/providers.tsx
  pkgs/frontend/src/components/user-menu.tsx
  pkgs/frontend/src/components/wallet-connect.tsx
  pkgs/frontend/src/lib/utils-client.ts
  pkgs/frontend/src/mastra/models/index.ts
  pkgs/frontend/src/mastra/tools/index.ts
  pkgs/mcp/samples/sample.txt
  pkgs/mcp/src/walrus/download.ts
  pnpm-lock.yaml
Due: format, lint

Refactor: Clean up whitespace and improve readability in various components
  pkgs/frontend/public/sw.js
  pkgs/frontend/public/workbox-01fd22c6.js
  pkgs/frontend/src/app/page.tsx
  pkgs/frontend/src/app/wallet-demo.tsx
  pkgs/frontend/src/components/favorites-sidebar.tsx
  pkgs/frontend/src/components/wallet-connect.tsx
Due: format, lint

Refactor code structure for improved readability and maintainability
  package.json
  pkgs/backend/Dockerfile
  pkgs/backend/package.json
  pkgs/backend/src/index.ts
  pkgs/cdk/.env.example
  pkgs/cdk/.gitignore
  pkgs/cdk/.npmignore
  pkgs/cdk/README.md
  pkgs/cdk/bin/cdk.ts
  pkgs/cdk/cdk.json
  pkgs/cdk/jest.config.js
  pkgs/cdk/lib/cdk-stack.ts
  pkgs/cdk/package.json
  pkgs/cdk/test/cdk.test.ts
  pkgs/cdk/tsconfig.json
  pkgs/mcp/package.json
  pkgs/mcp/run.sh
  pkgs/mcp/src/index.ts
  pkgs/mcp/src/lambda-server.ts
  pkgs/mcp/tsconfig.json
  pnpm-lock.yaml
Due: format, lint

修正
  biome.json
  pkgs/backend/src/index.ts
  pkgs/cdk/bin/cdk.ts
  pkgs/cdk/cdk.json
  pkgs/cdk/jest.config.js
  pkgs/cdk/lib/cdk-stack.ts
  pkgs/cdk/src/client.ts
  pkgs/cdk/test/cdk.test.ts
  pkgs/cdk/tsconfig.json
  pkgs/mcp/esbuild.js
  pkgs/mcp/package.json
  pkgs/mcp/run.sh
  pkgs/mcp/src/lambda-server.ts
  pnpm-lock.yaml
Due: format, lint

CDKのスタックも追加
  biome.json
  pkgs/cdk/README.md
  pkgs/cdk/lib/cdk-stack.ts
  pkgs/cdk/package.json
  pkgs/cdk/src/client.ts
  pkgs/mcp/.gitignore
  pkgs/mcp/esbuild.js
  pkgs/mcp/package-lock.json
  pkgs/mcp/package.json
  pkgs/mcp/samples/downloaded.txt
  pkgs/mcp/src/lambda-server.ts
  pkgs/mcp/tsconfig.json
  pnpm-lock.yaml
Due: format, lint

update CDK Stack name
  pkgs/cdk/bin/cdk.ts
Due: format, lint

Add logging to download endpoint and fix result key typo
  pkgs/backend/src/index.ts
  pkgs/cdk/lib/cdk-stack.ts
  pkgs/mcp/src/lambda-server.ts
Due: format, lint

修正
  pkgs/cdk/lib/cdk-stack.ts
Due: format, lint

システム構成図を追加
  docs/overview.drawio
  docs/overview.png
Due: none

デプロイできるところまで修正済み
  pkgs/cdk/README.md
  pkgs/cdk/lib/cdk-stack.ts
  pnpm-lock.yaml
Due: format, lint

Update system architecture diagram and add new blockchain labels
  docs/overview.drawio
  docs/overview.png
Due: none

検証のため一時的にコンソールログを追加
  pkgs/cdk/src/client.ts
  pkgs/mcp/src/walrus/download.ts
Due: format, lint

修正
  pkgs/cdk/lib/cdk-stack.ts
  pkgs/cdk/src/client.ts
  pkgs/mcp/src/walrus/download.ts
Due: format, lint

update
  pkgs/mcp/src/index.ts
  pkgs/mcp/src/lambda-server.ts
Due: format, lint
